.custom-journal-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    padding: 10px;
    border: none;
    background: var(--background-primary);
}

.journal-entry {
    width: 85%;
    margin: 20px 0;
    border-top: 1px solid white;
        &:first-child {
            border-top: none;
        }
}

.journal-entry-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.collapsible-toggle {
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 0 10px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.collapsible-toggle:after {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    font-size: 0.75em;
    font-weight: 200;
    line-height: 1.556em;
    vertical-align: middle;
}

.collapsible-toggle.toggle-expanded:after {
    content: "\f078";
}

.collapsible-content {
    display: flex;
    justify-content: center;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.journal-entry-link {
    text-decoration: none;
    color: var(--text-normal);
    font-size: 1.5em;
}

.content-expanded {
    max-height: 100vh;
}

.editable-content {
    resize: none;
    border: none !important;
    outline: none !important;
    background: none;
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
}

.editable-content:focus {
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
}















